<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
  <div class="main-container">
    <img src="../assets/image-omelette.jpeg" class="banner" alt="">
    <div class="simple-omlet">
      <h2>Simple Omlet Recipe</h2>
      <p>Simply Recipes is a trusted resource for home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. 
        We’re supported by a group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.
      </p>
      <div class="listed-items">
        <h4>Preparation</h4>
      <ul>
        <li><span>Total: </span>Approximately 10 mins</li>
        <li><span>Preparation: </span>5 mins</li>
        <li><span>Cooking: </span>5 mins</li>
      </ul>
      </div>
    </div>
    <div class="ingredients">
      <h3>ingredients</h3>
      <ul>
        <li>2-3 large egs</li>
        <li>salt, to taste</li>
        <li>pepper, to taste</li>
        <li>1 table spoon of butter or oil</li>
        <li>optional fillings: cheese, vegetables, cooked meat, herbs</li>
      </ul>
    </div>

    <hr>

    <div class="instructions">
      <h3>instructions</h3>
      <ol>
        <li><span>Beat the eggs: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
        <li><span>Heat the pan: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
        <li><span>Cook the omlette: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
        <li><span>Add fillings (optional): </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
        <li><span>Fold and serve: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
        <li><span>Enjoy: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis mi eros, vitae facilisis turpis finibus ornare. Vivamus nisi eros, placerat vitae finibus sed, mattis et dolor.</li>
      </ol>
    </div>

    <hr>

    <div class="nutrients">
      <h3>Nutrients</h3>
      <p>The table below shows nutritional values per serving without the optional fillings</p>
      <table>
        <thead>
          <tr>
            <td>Nutrition</td>
            <td>Value</td>
          </tr>
        </thead>
        <tr>
          <td>Calories</td>
          <td class="value">277kcal</td>
        </tr>
        <tr>
          <td>Cabs</td>
          <td class="value">0g</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td class="value">20g</td>
        </tr>
        <tr>
          <td>fat</td>
          <td class="value">22g</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>